##########################################
#History:
#when       whom            what, where, why
#--------   ----            ---------------------------------------------------
#2010-12-08 sebastian404    inital build
#2011-01-07 sebattian404    add RA-Recovery dependancies
##########################################

on early-init
    exec /sbin/usbconfig

on init

    # setup enviroment
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    # setup recovery filesystems
    mkdir /sdcard 0771 system system
    mkdir /sd-ext 0771 system system
    mkdir /system 0771 system system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mkdir /tmp 01777 root root

    # mount inital filesystems
    mount tmpfs tmpfs /tmp size=4mi

    # RA-Recovery required
    symlink /system/etc /etc
    symlink /sbin/busybox /sbin/sh
    chmod 0755 /sbin/busybox

on boot
    ifup lo
    hostname localhost
    domainname localdomain
    class_start default

service usbconfig /sbin/usbconfig

service recovery /sbin/recovery.sh

service adbd /sbin/adbd recovery

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
